@use "../../../variables" as v;

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$large-indent;
}

.filtersGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: v.$large-indent;
}

.listWrapper {
    min-height: 724px;
}