@use './_variables.scss' as v;

* {
  background-color: v.$background-color;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: v.$text-ligth;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: v.$large-indent;
}